
History Data/^TWII.csv
History Data/ACWI.csv
History Data/AGG.csv
History Data/ANGL.csv
History Data/ARKG.csv
History Data/ARKK.csv
History Data/ASHR.csv
History Data/BBEU.csv
History Data/BIL.csv
History Data/BITO.csv
History Data/BKLN.csv
History Data/BND.csv
History Data/BNDX.csv
History Data/BSV.csv
History Data/COWZ.csv
History Data/DGRO.csv
History Data/DIA.csv
History Data/EEM.csv
History Data/EFA.csv
History Data/EFV.csv
History Data/EMB.csv
History Data/EMLC.csv
History Data/EWA.csv
History Data/EWC.csv
History Data/EWG.csv
History Data/EWH.csv
History Data/EWJ.csv
History Data/EWT.csv
History Data/EWY.csv
History Data/EWZ.csv
History Data/EZU.csv
History Data/FPE.csv
History Data/FTSM.csv
History Data/FXI.csv
History Data/FXN.csv
History Data/FXO.csv
History Data/GDX.csv
History Data/GDXJ.csv
History Data/GLD.csv
History Data/GOVT.csv
History Data/HYG.csv
History Data/HYLB.csv
History Data/IAU.csv
History Data/ICLN.csv
History Data/IEF.csv
History Data/IEFA.csv
History Data/IEMG.csv
History Data/IGIB.csv
History Data/IGSB.csv
History Data/IJR.csv
History Data/INDA.csv
History Data/ITB.csv
History Data/IUSB.csv
History Data/IVV.csv
History Data/IVW.csv
History Data/IWM.csv
History Data/IYR.csv
History Data/JEPI.csv
History Data/JETS.csv
History Data/JNK.csv
History Data/JPST.csv
History Data/KRE.csv
History Data/KWEB.csv
History Data/LQD.csv
History Data/MBB.csv
History Data/MCHI.csv
History Data/MUB.csv
History Data/PDBC.csv
History Data/PFF.csv
History Data/PGX.csv
History Data/PSLV.csv
History Data/PSQ.csv
History Data/QQQ.csv
History Data/QYLD.csv
History Data/RSP.csv
History Data/RWM.csv
History Data/SARK.csv
History Data/SCHD.csv
History Data/SCHF.csv
History Data/SCHH.csv
History Data/SCHO.csv
History Data/SCHP.csv
History Data/SCHR.csv
History Data/SGOL.csv
History Data/SGOV.csv
History Data/SH.csv
History Data/SHV.csv
History Data/SHY.csv
History Data/SHYG.csv
History Data/SJNK.csv
History Data/SLV.csv
History Data/SMH.csv
History Data/SPAB.csv
History Data/SPDN.csv
History Data/SPDW.csv
History Data/SPEM.csv
History Data/SPIB.csv
History Data/SPLG.csv
History Data/SPLV.csv
History Data/SPSB.csv
History Data/SPTI.csv
History Data/SPTL.csv
History Data/SPTS.csv
History Data/SPY.csv
History Data/SPYV.csv
History Data/SRLN.csv
History Data/SVIX.csv
History Data/TIP.csv
History Data/TLT.csv
History Data/UNG.csv
History Data/URA.csv
History Data/USFR.csv
History Data/USHY.csv
History Data/USMV.csv
History Data/USO.csv
History Data/UUP.csv
History Data/VCIT.csv
History Data/VCLT.csv
History Data/VCSH.csv
History Data/VEA.csv
History Data/VEU.csv
History Data/VGIT.csv
History Data/VGK.csv
History Data/VGSH.csv
History Data/VIXY.csv
History Data/VNQ.csv
History Data/VOO.csv
History Data/VT.csv
History Data/VTEB.csv
History Data/VTI.csv
History Data/VTIP.csv
History Data/VTV.csv
History Data/VWO.csv
History Data/VXUS.csv
History Data/VXX.csv
History Data/XBI.csv
History Data/XHB.csv
History Data/XLB.csv
History Data/XLC.csv
History Data/XLE.csv
History Data/XLF.csv
History Data/XLI.csv
History Data/XLK.csv
History Data/XLP.csv
History Data/XLRE.csv
History Data/XLU.csv
History Data/XLV.csv
History Data/XLY.csv
History Data/XME.csv
History Data/XOP.csv
History Data/XRT.csv
History Data/^TWII.csv
History Data/QQQ.csv
History Data/SPY.csv
History Data/^TWII.csv
History Data/PGIM保德信中國中小基金-美元.csv
History Data/PGIM保德信中國品牌基金-美元.csv
History Data/PGIM保德信全球醫療生化基金-美元.csv
History Data/PGIM保德信策略成長ETF組合基金-美元.csv
History Data/PGIM保德信美國投資級企業債券基金-美元月配息型.csv
History Data/PGIM保德信美國投資級企業債券基金-美元累積型.csv
History Data/QQQ.csv
History Data/SPY.csv
History Data/貝萊德拉丁美洲基金 D2.csv
