
History Data/^TWII.csv
History Data/ACWI.csv
History Data/AGG.csv
History Data/ANGL.csv
History Data/ARKG.csv
History Data/ARKK.csv
History Data/ASHR.csv
History Data/BBEU.csv
History Data/BIL.csv
History Data/BITO.csv
History Data/BKLN.csv
History Data/BND.csv
History Data/BNDX.csv
History Data/BSV.csv
History Data/COWZ.csv
History Data/DGRO.csv
History Data/DIA.csv
History Data/EEM.csv
History Data/EFA.csv
History Data/EFV.csv
History Data/EMB.csv
History Data/EMLC.csv
History Data/EWA.csv
History Data/EWC.csv
History Data/EWG.csv
History Data/EWH.csv
History Data/EWJ.csv
History Data/EWT.csv
History Data/EWY.csv
History Data/EWZ.csv
History Data/EZU.csv
History Data/FPE.csv
History Data/FTSM.csv
History Data/FXI.csv
History Data/FXN.csv
History Data/FXO.csv
History Data/GDX.csv
History Data/GDXJ.csv
History Data/GLD.csv
History Data/GOVT.csv
History Data/HYG.csv
History Data/HYLB.csv
History Data/IAU.csv
History Data/ICLN.csv
History Data/IEF.csv
History Data/IEFA.csv
History Data/IEMG.csv
History Data/IGIB.csv
History Data/IGSB.csv
History Data/IJR.csv
History Data/INDA.csv
History Data/ITB.csv
History Data/IUSB.csv
History Data/IVV.csv
History Data/IVW.csv
History Data/IWM.csv
History Data/IYR.csv
History Data/JEPI.csv
History Data/JETS.csv
History Data/JNK.csv
History Data/JPST.csv
History Data/KRE.csv
History Data/KWEB.csv
History Data/LQD.csv
History Data/MBB.csv
History Data/MCHI.csv
History Data/MUB.csv
History Data/PDBC.csv
History Data/PFF.csv
History Data/PGX.csv
History Data/PSLV.csv
History Data/PSQ.csv
History Data/QQQ.csv
History Data/QYLD.csv
History Data/RSP.csv
History Data/RWM.csv
History Data/SARK.csv
History Data/SCHD.csv
History Data/SCHF.csv
History Data/SCHH.csv
History Data/SCHO.csv
History Data/SCHP.csv
History Data/SCHR.csv
History Data/SGOL.csv
History Data/SGOV.csv
History Data/SH.csv
History Data/SHV.csv
History Data/SHY.csv
History Data/SHYG.csv
History Data/SJNK.csv
History Data/SLV.csv
History Data/SMH.csv
History Data/SPAB.csv
History Data/SPDN.csv
History Data/SPDW.csv
History Data/SPEM.csv
History Data/SPIB.csv
History Data/SPLG.csv
History Data/SPLV.csv
History Data/SPSB.csv
History Data/SPTI.csv
History Data/SPTL.csv
History Data/SPTS.csv
History Data/SPY.csv
History Data/SPYV.csv
History Data/SRLN.csv
History Data/SVIX.csv
History Data/TIP.csv
History Data/TLT.csv
History Data/UNG.csv
History Data/URA.csv
History Data/USFR.csv
History Data/USHY.csv
History Data/USMV.csv
History Data/USO.csv
History Data/UUP.csv
History Data/VCIT.csv
History Data/VCLT.csv
History Data/VCSH.csv
History Data/VEA.csv
History Data/VEU.csv
History Data/VGIT.csv
History Data/VGK.csv
History Data/VGSH.csv
History Data/VIXY.csv
History Data/VNQ.csv
History Data/VOO.csv
History Data/VT.csv
History Data/VTEB.csv
History Data/VTI.csv
History Data/VTIP.csv
History Data/VTV.csv
History Data/VWO.csv
History Data/VXUS.csv
History Data/VXX.csv
History Data/XBI.csv
History Data/XHB.csv
History Data/XLB.csv
History Data/XLC.csv
History Data/XLE.csv
History Data/XLF.csv
History Data/XLI.csv
History Data/XLK.csv
History Data/XLP.csv
History Data/XLRE.csv
History Data/XLU.csv
History Data/XLV.csv
History Data/XLY.csv
History Data/XME.csv
History Data/XOP.csv
History Data/XRT.csv
History Data/^TWII.csv
History Data/QQQ.csv
History Data/SPY.csv
History Data/^TWII.csv
History Data/PGIM保德信中國中小基金-美元.csv
History Data/PGIM保德信中國品牌基金-美元.csv
History Data/PGIM保德信全球醫療生化基金-美元.csv
History Data/PGIM保德信策略成長ETF組合基金-美元.csv
History Data/PGIM保德信美國投資級企業債券基金-美元月配息型.csv
History Data/PGIM保德信美國投資級企業債券基金-美元累積型.csv
History Data/QQQ.csv
History Data/SPY.csv
History Data/貝萊德拉丁美洲基金 D2.csv
History Data/貝萊德日本靈活股票基金 Hedged A2 美元.csv
History Data/貝萊德新興市場股票收益基金A6美元(穩定配息).csv
History Data/貝萊德新興市場股票收益基金A2美元.csv
History Data/貝萊德世界地產證券基金 A6 美元 (穩定配息).csv
History Data/貝萊德世界地產證券基金 A2 美元.csv
History Data/貝萊德ESG社會責任多元資產基金Hedged A2 美元.csv
History Data/貝萊德ESG社會責任多元資產基金A8多幣別穩定月配息股份-美元幣避險.csv
History Data/群益工業國入息基金B(月配型-美元).csv
History Data/群益大印度基金-美元.csv
History Data/群益全球特別股收益基金A(累積型-美元).csv
History Data/群益全球地產入息基金B(月配型-美元).csv
History Data/群益全球地產入息基金A(累積型-美元).csv
History Data/群益中國新機會基金-美元.csv
History Data/第一金全球AI機器人及自動化產業基金-美元.csv
History Data/第一金全球AI人工智慧基金-美元.csv
History Data/第一金中國世紀基金-美元.csv
History Data/柏瑞環球基金-柏瑞環球動態資產配置基金 ADCT(穩定月配).csv
History Data/柏瑞環球動態資產配置基金 ADC.csv
History Data/日盛中國戰略A股基金(美元).csv
History Data/新光美國豐收平衡基金(B配息)美元.csv
History Data/新光美國豐收平衡基金(A累積)美元.csv
History Data/新光全球生技醫療基金(美元).csv
History Data/新光全球債券基金(B配息)美元.csv
History Data/新光全球債券基金(A累積)美元.csv
History Data/新光中國成長基金(美元).csv
History Data/復華美國新星基金-美元.csv
History Data/復華奧林匹克全球優勢組合基金-美元.csv
History Data/復華全球物聯網科技基金-美元.csv
History Data/復華全球大趨勢基金-美元.csv
History Data/復華亞太神龍科技基金-美元.csv
History Data/富邦大中華成長基金-(美元).csv
History Data/富邦全球投資等級債券基金-B類型(美元).csv
History Data/富邦全球投資等級債券基金-A類型(美元).csv
History Data/富邦全球不動產基金-(美元).csv
History Data/富邦中國多重資產型基金-B類型(美元).csv
History Data/富邦中國多重資產型基金-A類型(美元).csv
History Data/富邦AI智能新趨勢多重資產型基金-A類型(美元).csv
History Data/富蘭克林華美新世界股票基金-美元.csv
History Data/富蘭克林華美全球醫療保健基金-美元.csv
History Data/富蘭克林華美全球成長基金-美元.csv
History Data/富蘭克林華美中國消費基金-美元.csv
History Data/安聯香港股票基金-A配息類股(美元).csv
History Data/安聯韓國股票基金-A配息類股(美元).csv
History Data/安聯美國收益基金-AT累積類股(美元).csv
History Data/安聯美國收益基金-AM穩定月收類股(美元).csv
History Data/安聯美國收益基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯美國收益基金-AMf固定月配類股(美元).csv
History Data/安聯美國多元投資風格股票基金-AT累積類股(美元).csv
History Data/安聯美元非投資等級債券基金-AT累積類股(美元).csv
History Data/安聯美元非投資等級債券基金-AM穩定月收類股(美元).csv
History Data/安聯美元短年期非投資等級債券基金-AT累積類股(美元).csv
History Data/安聯美元短年期非投資等級債券基金-AM穩定月收類股(美元).csv
History Data/安聯美元短年期非投資等級債券基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯綠色債券基金-AT累積類股(美元避險).csv
History Data/安聯綠色債券基金-AMf固定月配類股(美元避險).csv
History Data/安聯策略信用債券基金-AT累積類股(美元).csv
History Data/安聯泰國股票基金-A配息類股(美元).csv
History Data/安聯水資源基金-AT累積類股(美元).csv
History Data/安聯歐陸成長基金-AT累積類股(美元避險).csv
History Data/安聯歐洲高息股票基金-AM穩定月收類股(美元避險).csv
History Data/安聯歐洲高息股票基金-AMg穩定月收總收益類股(美元避險).csv
History Data/安聯歐洲成長精選基金-AT累積類股(美元避險).csv
History Data/安聯歐洲小型股票基金-AT累積類股(美元避險).csv
History Data/安聯歐元非投資等級債券基金-AT累積類股(美元避險).csv
History Data/安聯歐元非投資等級債券基金-AM穩定月收類股(美元避險).csv
History Data/安聯東方入息基金-A配息類股(美元).csv
History Data/安聯東方入息基金-A 配息類股(美元避險).csv
History Data/安聯日本股票基金-A配息類股(美元).csv
History Data/安聯新興亞洲股票基金-A配息類股(美元).csv
History Data/安聯收益成長多重資產基金-B類型(月配息)-美元.csv
History Data/安聯收益成長多重資產基金-A類型(累積)-美元.csv
History Data/安聯收益成長基金-AT累積類股(美元).csv
History Data/安聯收益成長基金-AM穩定月收類股(美元).csv
History Data/安聯收益成長基金-AMg7月收總收益類股(美元).csv
History Data/安聯寵物新經濟基金-AT累積類股(美元).csv
History Data/安聯多元信用債券基金-AT累積類股(美元).csv
History Data/安聯多元信用債券基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯四季雙收入息組合基金-B類型(月配息)-美元.csv
History Data/安聯四季雙收入息組合基金-A類型(累積)-美元.csv
History Data/安聯四季成長組合基金-美元.csv
History Data/安聯四季回報債券組合基金-A類型(累積)-美元.csv
History Data/安聯印尼股票基金-A配息類股(美元).csv
History Data/安聯動力亞洲非投資等級債券基金-AT累積類股(美元).csv
History Data/安聯全球高成長股票基金-AT累積類股(美元).csv
History Data/安聯全球高成長科技基金-A配息類股(美元).csv
History Data/安聯全球生技趨勢基金-美元.csv
History Data/安聯全球永續發展基金-A配息類股(美元).csv
History Data/安聯全球機會債券基金-AT累積類股(美元).csv
History Data/安聯全球機會債券基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯全球機會債券基金-AMf固定月配類股(美元).csv
History Data/安聯全球新興市場高股息基金-AT累積類股(美元).csv
History Data/安聯全球新興市場高股息基金-AM穩定月收類股(美元避險).csv
History Data/安聯全球新興市場高股息基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯全球收益成長基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯亞洲靈活債券基金-AT累積類股(美元).csv
History Data/安聯亞洲靈活債券基金-AM穩定月收類股(美元).csv
History Data/安聯亞洲靈活債券基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯亞洲總回報股票基金-A配息類股(美元).csv
History Data/安聯亞洲總回報股票基金-AM穩定月收類股(美元).csv
History Data/安聯亞洲總回報股票基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯亞洲多元收益基金-AT累積類股(美元).csv
History Data/安聯亞洲多元收益基金-AMg穩定月收總收益類股(美元).csv
History Data/安聯主題趨勢基金-AT累積類股(美元).csv
History Data/安聯中華新思路基金-美元.csv
History Data/安聯中國股票基金-A配息類股(美元).csv
History Data/安聯中國策略基金-美元.csv
History Data/安聯AI人工智慧基金-AT累積類股(美元).csv
History Data/台新中國精選中小基金-美元.csv
History Data/匯豐亞洲非投資等級債券基金-美元配息.csv
History Data/匯豐亞洲非投資等級債券基金-美元不配息.csv
History Data/凱基收益成長多重資產基金-美元B(月配).csv
History Data/凱基收益成長多重資產基金-美元A(累積).csv
History Data/兆豐中國內需A股基金(美金).csv
History Data/兆豐中國A股基金(美金).csv
History Data/元大新東協平衡基金-美元.csv
History Data/中國信託樂齡收益平衡基金-美元B.csv
History Data/中國信託樂齡收益平衡基金-美元A.csv
History Data/中國信託智慧城市建設基金-美元.csv
History Data/PGIM保德信新興市場企業債券基金-美元月配息型.csv
History Data/貝萊德美國政府房貸債券基金A3美元.csv
History Data/貝萊德美國政府房貸債券基金A2美元.csv
History Data/貝萊德美元非投資等級債券基金A6美元(穩定配息).csv
History Data/貝萊德美元非投資等級債券基金A3美元.csv
History Data/貝萊德美元非投資等級債券基金A2美元.csv
History Data/貝萊德美元儲備基金A2 美元.csv
History Data/貝萊德美元優質債券基金A3美元.csv
History Data/貝萊德美元優質債券基金A2美元.csv
History Data/貝萊德智慧數據環球小型企業基金A2美元.csv
History Data/貝萊德日本靈活股票基金A2美元.csv
History Data/貝萊德日本特別時機基金A2 美元.csv
History Data/貝萊德日本特別時機基金 Hedged A2美元.csv
History Data/貝萊德全球通膨連結債券基金A3美元.csv
History Data/貝萊德全球通膨連結債券基金A2美元.csv
History Data/貝萊德全球股票收益基金A6美元(穩定配息).csv
History Data/貝萊德全球股票收益基金A2美元.csv
History Data/貝萊德全球智慧數據股票入息基金A6 美元(穩定配息).csv
History Data/貝萊德全球智慧數據股票入息基金A2美元.csv
History Data/貝萊德亞洲老虎債券基金A6美元(穩定配息).csv
History Data/貝萊德亞洲老虎債券基金A3美元.csv
History Data/貝萊德亞洲老虎債券基金A2美元.csv
History Data/貝萊德亞太股票收益基金A2美元.csv
History Data/貝萊德世界債券基金A3美元.csv
History Data/貝萊德世界債券基金A2美元.csv
History Data/日盛全球智能車基金(美元).csv
History Data/安聯美國短年期非投資等級債券基金-A類型(累積)-美元.csv
History Data/安聯日本股票基金-AT累積類股(美元避險).csv
History Data/安聯亞太高息股票基金-AM穩定月收類股(美元).csv
History Data/合庫AI電動車及車聯網創新基金-美元.csv
History Data/台新北美收益基金-美元累積.csv
History Data/台新全球不動產入息基金-美元累積.csv
History Data/台新中証消費服務領先指數基金-美元.csv
History Data/元大亞太優質高股息100指數基金-美元(B)配息.csv
交易策略.py
output.xlsx
Product Code - 複製.xlsx
History Data/凱基醫院及長照產業基金-美元.csv
History Data/凱基雲端趨勢基金-美元.csv
History Data/合庫全球非投資等級債券基金A類型(美元).csv
History Data/合庫新興多重收益基金A(USD不配息).csv
History Data/國泰中國內需增長基金(美元).csv
History Data/國泰中國新興戰略基金(美元).csv
History Data/國泰中港台基金(美元).csv
History Data/國泰主順位資產抵押非投資等級債券基金A(美元).csv
History Data/國泰主順位資產抵押非投資等級債券基金B(美元).csv
History Data/國泰亞洲成長基金(美元).csv
History Data/國泰人民幣貨幣市場基金(美元).csv
History Data/國泰全球基礎建設基金(美元).csv
History Data/國泰全球積極組合基金(美元).csv
History Data/國泰全球資源基金(美元).csv
History Data/國泰新興市場基金(美元).csv
History Data/國泰新興非投資等級債券基金A(美元).csv
History Data/國泰新興非投資等級債券基金B(美元).csv
History Data/國泰泰享退系列２０２９目標日期組合基金A(美元).csv
History Data/國泰泰享退系列２０３９目標日期組合基金A(美元).csv
History Data/國泰泰享退系列２０４９目標日期組合基金A(美元).csv
History Data/國泰美國多重收益平衡基金A(美元).csv
History Data/國泰美國多重收益平衡基金B(美元).csv
History Data/安聯動力亞洲非投資等級債券基金-IT累積類股(美元).csv
History Data/富達基金－世界基金(A股累計美元).csv
History Data/富達基金－中國內需消費基金 (A股累計美元).csv
History Data/富達基金－中國內需消費基金 (A股美元).csv
History Data/富達基金－中國聚焦基金(A股美元).csv
History Data/富達基金－北歐基金(A股累計美元避險).csv
History Data/富達基金－太平洋基金(A股美元).csv
History Data/富達基金－太平洋基金(A股美元避險).csv
History Data/富達基金－日本價值基金(A股累計美元避險).csv
History Data/富達基金－永續發展人口商機基金(A股累計美元).csv
History Data/富達基金－永續發展日本股票基金(A股累計美元避險).csv
History Data/富達基金－永續發展水資源暨環保趨勢基金(A股累計美元).csv
History Data/富邦中國優質債券基金-A類型(美元).csv
History Data/富邦中國優質債券基金-B類型(美元).csv
History Data/富邦中國非投資等級債券基金-A類型(美元).csv
History Data/富邦中國非投資等級債券基金-B類型(美元).csv
History Data/施羅德中國非投資等級債券基金(美元)-累積.csv
History Data/日盛亞洲非投資等級債券基金(美元A).csv
History Data/柏瑞亞洲﹝日本除外﹞股票基金 A.csv
History Data/柏瑞印度股票基金A.csv
History Data/柏瑞大中華股票基金A.csv
History Data/柏瑞拉丁美洲股票基金A.csv
History Data/柏瑞日本股票基金A.csv
History Data/柏瑞歐洲研究增值股票基金A.csv
History Data/柏瑞環球債券基金A.csv
History Data/柏瑞環球動態資產配置基金A.csv
History Data/柏瑞環球新興市場精選股票基金A.csv
History Data/柏瑞環球重點股票基金A.csv
History Data/柏瑞美國大型資本研究增值基金A.csv
History Data/柏瑞美國研究增值核心股票基金A.csv
History Data/永豐全球多元入息基金-美元累積類型.csv
History Data/永豐滬深300紅利指數基金-美元類型.csv
History Data/第一金全球富裕國家債券基金-美元累積型.csv
History Data/第一金全球水電瓦斯及基礎建設收益基金-美元累積型.csv
History Data/第一金全球非投資等級債券基金-美元累積型.csv
History Data/第一金美國100大企業債券基金-美元累積型.csv
History Data/統一中國非投資等級債券基金-累積美元.csv
History Data/統一全球新科技基金-美元.csv
History Data/統一全球智聯網AIoT美元.csv
History Data/統一大中華中小基金美元.csv
History Data/統一大東協高股息美元.csv
History Data/統一大龍騰中國基金美元.csv
History Data/統一強漢基金美元.csv
History Data/貝萊德世界健康科學基金A2.csv
History Data/貝萊德世界礦業基金A2.csv
History Data/貝萊德世界科技基金A2.csv
History Data/貝萊德世界能源基金A2.csv
History Data/貝萊德世界金融基金 A2.csv
History Data/貝萊德世界黃金基金A2.csv
History Data/貝萊德中國基金 A2.csv
History Data/貝萊德亞太股票收益基金 A2 美元.csv
History Data/貝萊德亞洲巨龍基金A2.csv
History Data/貝萊德全球基金 - 永續能源基金 A2 美元.csv
History Data/貝萊德印度基金A2.csv
History Data/貝萊德拉丁美洲基金A2.csv
History Data/貝萊德新興市場債券基金A2美元.csv
History Data/貝萊德新興市場債券基金A3美元.csv
History Data/貝萊德新興市場債券基金A6美元(穩定配息).csv
History Data/貝萊德新興市場基金A2美元.csv
History Data/貝萊德新興市場當地債券基金A2.csv
History Data/貝萊德新興市場當地債券基金A3.csv
History Data/貝萊德新興歐洲基金A2.csv
History Data/貝萊德歐元優質債券基金A2.csv
History Data/貝萊德歐元優質債券基金A3.csv
History Data/貝萊德歐元優質債券基金Hedged A2 .csv
History Data/貝萊德歐元市場基金 Hedged A2美元.csv
History Data/貝萊德歐元市場基金A2美元.csv
History Data/貝萊德歐洲價值型基金A2美元.csv
History Data/貝萊德歐洲價值型基金Hedged A2美元.csv
History Data/貝萊德歐洲基金A2美元.csv
History Data/貝萊德歐洲基金Hedged A2美元.csv
History Data/貝萊德歐洲特別時機基金A2美元.csv
History Data/貝萊德歐洲特別時機基金Hedged A2美元.csv
History Data/貝萊德歐洲靈活股票基金A2.csv
History Data/貝萊德營養科學基金A2美元.csv
History Data/貝萊德環球企業債券基金A2美元.csv
History Data/貝萊德環球企業債券基金A6美元(穩定配息).csv
History Data/貝萊德環球前瞻股票基金A2美元.csv
History Data/貝萊德環球動力股票基金A2.csv
History Data/貝萊德環球政府債券基金A2美元.csv
History Data/貝萊德環球政府債券基金A3美元.csv
History Data/貝萊德環球資產配置基金A2.csv
History Data/貝萊德環球非投資等級債券基金A2美元.csv
History Data/貝萊德環球非投資等級債券基金A3美元.csv
History Data/貝萊德環球非投資等級債券基金A6美元(穩定配息).csv
History Data/貝萊德美國中型企業價值基金A2.csv
History Data/貝萊德美國價值型基金A2.csv
History Data/貝萊德美國增長型基金A2.csv
History Data/貝萊德美國靈活股票基金A2.csv
History Data/貝萊德英國基金A2.csv
History Data/野村亞太收益多重資產基金(美元累積).csv
History Data/野村亞太新興債券基金(美元累積).csv
History Data/野村亞太複合非投資等級債券基金(美元累積).csv
History Data/野村全球金融收益基金(美元累積).csv
History Data/野村環球基金(美元).csv
Fund Code.xlsx
*.csv
